{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Item</th>
                <td>{{ product.item }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>Price for one</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Total price</th>
                <td>{{ product.totalPrice }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Add by:</th>
                <td>{{ product.user }}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td>{{ product.status }}</td>
            </tr>
            <tr>
                <th>Shopping List: </th>
                <td>
                    {% if product.shoppinglist %}
                            <li><a href="../shoppinglist/{{ product.shoppinglist.id }}">{{ product.shoppinglist.name }}</a></li>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
